language: php
php:
  - 7.0
  - 7.1

before_script:
  - composer install

script:
  - if [[ "$WITH_COVERAGE" == "true" ]]; then xdebug-enable; fi
  #- docker run --rm -v $PWD:/app phpqa/phpcs . --ignore=./vendor
  - docker run --rm -v $PWD:/app phpqa/php-cs-fixer fix --show-progress=estimating --verbose .
  - docker run --rm -v $PWD:/app phpqa/security-checker security:check
  - ./vendor/bin/phpunit --bootstrap vendor/autoload.php EmailTest

deploy:
  provider: heroku
  api_key: "6d563ef6-f78e-4a99-80a6-b9d0b71382c9"
  app: cours-indust
  on:
    php: '7.1'
    repo: biggiesmall/IDD5IW2
    branch: feature/travis

notifications:
  email:
    recipients:
      - amatroud0@gmail.com
    on_success: never  # default: change
    on_failure: always  # default: always